.whole-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  padding-bottom: 7.6rem;
  background: $light-grey;
  min-height: 90vh;
}

.content {
  width: $default-width;
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem 0 6rem;
}
