.whole-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  padding-bottom: 7.6rem;
  background: $light-grey;
  min-height: 90vh;

  @include mq(laptap) {
    padding-bottom: 0;
    min-height: 85vh;
  }
}

.content {
  width: $default-width;
  max-width: $text-max-width;
  margin: 0 auto;
  padding: 2rem 0 6rem;

  &__msg {
    line-height: 1.6;
    margin: 0 auto 2rem;
    max-width: $text-max-width;
    background: $green;
    color: $white;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 2rem;
    border-radius: 3px;
  }
}
