.footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $dark-grey;

  @include mq(laptap) {
    position: relative;
    left: auto;
    bottom: auto;
  }

  &__nav {
    width: 100%;
    max-width: $text-max-width;
    margin: 0 auto;
    // background: $dark-grey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    line-height: 1;

    &__item {
      padding: 1rem;
      color: $white;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 3.6rem;
        margin-bottom: 0.6rem;
        color: $white;

        &.sm {
          margin-bottom: 0.5rem;
          font-size: 3.8rem;
        }

        &.md {
          font-size: 4.2rem;
        }
      }

      &__text {
        font-size: 1.1rem;
      }

      &.active {
        background: $primary-color;
        font-weight: bold;
      }
    }
  }
}
