.header {
  width: 100%;
  text-align: center;
  color: $white;
  position: relative;

  &__nav {
    width: 100%;
    // max-width: 60rem;
    display: flex;
    flex-direction: column;
    background: $light-grey;
    box-shadow: 1px 1px 5px rgba($black, 0.2);
    position: absolute;
    z-index: 9;
    transform: translateY(-200%);
    transition: all 0.25s;

    &.active {
      transform: translateY(0);
    }
  }

  &__link {
    padding: 1rem 1.2rem;
    text-align: left;
    color: $medium-grey;
    font-weight: bold;

    &:not(:last-child) {
      border-bottom: 2px solid $white;
    }

    &.active {
      background: $grey;
      color: $white;
    }
  }

  @include mq(tab) {
    display: block;
  }

  &__title-wrap {
    width: 100%;
    margin: 0 auto;
    background: $dark-grey;
    height: 2.8rem;
    line-height: 2.8rem;
  }

  &__title {
    color: $white;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__toggle {
    display: block;
    width: 2.4rem;
    height: 1.6rem;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    cursor: pointer;
    z-index: 99;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    span {
      display: block;
      line-height: 1;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background: $white;
      position: absolute;
      left: 0;
      transition: all 0.4s;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        bottom: 0;
      }
    }

    &.active {
      span {
        &:first-child {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }
}
