.items {
  &__header {
    width: 100%;
    margin: 0 auto;
    background: $white;
    padding: 2rem;
  }

  &__overview {
    text-align: center;
    background: pink;
    min-height: 10rem;
  }

  &__date {
    text-align: center;
    color: $medium-grey;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0.6rem;

    a {
      color: $medium-grey;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    .iconify {
      font-size: 5rem;
      color: $primary-color;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @include mq(mob) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0.6rem;
    background: $white;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 3px;
  }

  &__text {
    text-align: left;

    @include mq(mob) {
      text-align: center;
    }
  }

  &__title {
    font-size: 1.4rem;
    color: $grey;
    word-break: break-all;
    line-height: 1.2;
    margin-bottom: 0.6rem;
  }

  &__result {
    display: flex;
    align-items: center;

    @include mq(mob) {
      justify-content: center;
    }

    &__num {
      font-size: 2.6rem;
      font-weight: bold;
      line-height: 1;
      text-align: right;
      color: $medium-grey;
    }

    &__unit {
      font-size: 1.3rem;
      color: $grey;
      margin-left: 0.6rem;
    }
  }

  &__rate {
    font-size: 1.2rem;
    color: $grey;
  }
}
