.track-form {
  display: block;
  width: 100%;
  max-width: $text-max-width;
  margin: 0 auto;

  &__title {
    width: 96%;
    word-break: break-all;
    line-height: 1.3;
    font-size: 1.4rem;
    color: $medium-grey;

    @include mq(tab) {
      font-size: 1.6rem;
    }
  }

  &__date {
    width: 96%;
    margin: 0 auto 1.6rem;

    input {
      width: 100%;
      display: block;
      font-size: 1.8rem;
    }
  }

  &__item {
    width: 96%;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.8fr 0.5fr 0.3fr;
    align-items: center;
    margin: 0 auto 1rem;
    background: white;
    padding: 1rem;
    border-radius: 3px;

    input {
      display: block;
      width: 94%;
      font-size: 1.8rem;
      padding: 1rem;
    }
  }

  &__icon {
    font-size: 3rem;
    line-height: 1;

    .iconify {
      color: $primary-color;
    }

    @include mq(tab) {
      font-size: 4rem;
    }
  }

  &__unit {
    width: 96%;
  }

  &__target,
  &__unit {
    line-height: 1.3;
    color: $medium-grey;
    font-size: 1.3rem;
    word-break: break-all;

    @include mq(tab) {
      font-size: 1.5rem;
    }
  }
}
