@mixin setWidth {
  width: $default-width;
  max-width: $max-width;
  margin: 0 auto;
}

@mixin msgStyle {
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid;
  max-width: $text-max-width;
  margin: 0 auto 1.6rem;
}

// MEDIA QUERY setting
@mixin mq($breakpoint) {
  @if $breakpoint == mob {
    @media only screen and (min-width: 425px) {
      @content;
    }
  }

  @if $breakpoint == tab {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == laptap {
    @media only screen and (min-width: 960px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }

  // @if $breakpoint == xs {
  //   @media only screen and (max-width: 420px) {
  //     @content;
  //   }
  // }
}
