@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

// COLORS
$primary-color: #41b5e8;
$green: #86df81;
$red: #f34545;
$dark-grey: #323943;
$medium-grey: #6c7e91;
$grey: #a1adba;
$light-grey: #eaeef1;

$light-grey-2: #ccc;
$light-grey-3: #f6f6f6;

$white: #fff;
$black: #202020;

// FONT
$default-font-size: 1.5rem;
$main-font: 'Quicksand', sans-serif;

// WIDTH
$default-width: 96%;
$max-width: 120rem;

// HEIGHT
